<% was_validated = venue.errors.any? %>

<%= form_with(model: venue, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% venue_class = "form-control" %>
    <% venue_was_invalid = venue.errors.include?(:venue) %>

    <% if was_validated %>
      <% if venue_was_invalid %>
        <% venue_class << " is-invalid" %>
      <% else %>
        <% venue_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :venue %>
    <%= f.text_field :venue, class: venue_class, placeholder: "Enter venue" %>
    <% if venue_was_invalid %>
      <% venue.errors.full_messages_for(:venue).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% address_class = "form-control" %>
    <% address_was_invalid = venue.errors.include?(:address) %>

    <% if was_validated %>
      <% if address_was_invalid %>
        <% address_class << " is-invalid" %>
      <% else %>
        <% address_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :address %>
    <%= f.text_field :address, class: address_class, placeholder: "Enter address" %>
    <% if address_was_invalid %>
      <% venue.errors.full_messages_for(:address).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% neighborhood_class = "form-control" %>
    <% neighborhood_was_invalid = venue.errors.include?(:neighborhood) %>

    <% if was_validated %>
      <% if neighborhood_was_invalid %>
        <% neighborhood_class << " is-invalid" %>
      <% else %>
        <% neighborhood_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :neighborhood %>
    <%= f.text_field :neighborhood, class: neighborhood_class, placeholder: "Enter neighborhood" %>
    <% if neighborhood_was_invalid %>
      <% venue.errors.full_messages_for(:neighborhood).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% google_maps_url_class = "form-control" %>
    <% google_maps_url_was_invalid = venue.errors.include?(:google_maps_url) %>

    <% if was_validated %>
      <% if google_maps_url_was_invalid %>
        <% google_maps_url_class << " is-invalid" %>
      <% else %>
        <% google_maps_url_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :google_maps_url %>
    <%= f.text_field :google_maps_url, class: google_maps_url_class, placeholder: "Enter google maps url" %>
    <% if google_maps_url_was_invalid %>
      <% venue.errors.full_messages_for(:google_maps_url).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
