<%= form_with(model: @dish, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :dish %>

    <%= f.text_field :dish, class: "form-control" %>
  </div>

  <%= f.hidden_field :venue_id, value: @venue.id %>

  <div class="form-group">
    <%= f.label :dish_type %>

    <%= f.text_field :dish_type, class: "form-control" %>
  </div>

  <%= f.submit "Create dish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
